html{
    background-color: #c0d3e6;
    font-family: Arial, Helvetica, sans-serif;
}

h1, .h1Link{
    margin-top:0px;
    text-align: center;
    color: black;
    text-decoration: none;

}


body {
    padding: 24px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
    border: 4px solid #4a4d5c;
    border-radius: 20px;

}

img{
    border: 4px solid #4a4d5c;
    border-radius: 20px;
}

.jonasPic{
    width: 240px;
    height: auto;
    display: block;
    margin-left: auto;    
    margin-right: auto;    

}

@media (max-width: 1000px) {
    body{
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media (max-width: 650px) {

    body{
        margin: 10px;
    }
    p {
        font-size: 20px;
    }

    body{
            padding: 16px;

    }
}